.main {
  /* background-image: url("/assets/backgroud/home/crisma.jpg"); */
  background-color: var(--bg-color);

  padding-bottom: 131px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.banner {
  width: 100vw;
}

.banner img {
  max-width: 100%;
  width: auto;
  height: auto;
}
