.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
}

.logo {
  width: 72px;
  height: 72px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 999px;
}

.logo img {
  width: 72px;
  height: 40px;
  z-index: 1;
  border-radius: 999px;
}

.dropdownMenu {
  display: block;
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .dropdownMenu {
    display: none;
  }

  .menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .menu_list {
    display: flex;
    gap: 37px;
    padding-inline: 46px;
    background-color: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(40.774227142333984px);
    backdrop-filter: blur(40.774227142333984px);
  }

  .menu_list li {
    padding-block: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .Header {
    margin-top: 40px;
  }

  .menu_list {
    display: flex;
    gap: 50px;
    padding-inline: 123px 167px;
    background-color: rgba(255, 255, 255, 0.04);
  }

  .menu_list li {
    padding-block: 40px;
  }
}
